name: JavaCI

on:
  push:
    branches: main

jobs:
  compile-run:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Compile Hello.java
        run: javac Hello.java

      - name: Run Hello.java
        run: java Hello
